body, html {
    margin: 0;
    padding: 0;
}

.login-wrapper {
    font-family: 'MetropolisRegular';
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-top: 100px;
    text-align: center;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper > img {
    width: 50px;
    height: 50px;
}

.logo-wrapper > span {
    font-weight: bold;
    font-size: 28px;
    color: #DB3022;
}

.form-wrapper {
    padding-top: 30px;
}

.content-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper > h1 {
    font-size: 18px;
    line-height: 18px;
    color: #222;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.login-as {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-as button {
    width: 123px;
    height: 48px;
    font-size: 14px;
}

.form {
    padding-top: 40px;
}

.custommer {
    background: #DB3022;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
    border-style: none;
    color: #fff;
}

.seller {
    border: 1px solid #9B9B9B;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
    border-radius: 0px 4px 4px 0px;
    color: #9B9B9B;
    background-color: #fff;
}

.field-group > .input  {
    width: 400px;
    height: 48px;
    border: 1px solid #9B9B9B;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
    border-radius: 4px;
    padding: 0 23px;
    margin-bottom: 16px;
    box-sizing: border-box;
    display: flex;
}

.field-group-inline a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 14px;
    color: #DB3022;
    margin: 26px 0;
}


.field-group > .btn-submit {
    width: 401px;
    height: 48px;
    background: #DB3022;
    border-radius: 25px;
    border-style: none;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.footnote-wrapper {
    font-size: 14px;
    color: #222;
}

.footnote-wrapper > a {
    color: #DB3022;
    text-decoration: none;
}


@media (min-width: 320px) and (max-width: 480px) {
   

    .login-as button {
        width: 85px;
        height: 48px;
        font-size: 12px;
    }

    .field-group > .input  {
        width: 350px;
        height: 48px;
        align-items: center;
        margin: 10px auto;
        font-size: 12px;
    }

    .field-group > .btn-submit {
        width: 350px;
        height: 48px;
    }
    
}
