html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
    font-family: 'MetropolisRegular';
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* nagivation */

.navbar {
    height: 100px;
}

.navbar-brand {
    position: relative;
}

.navbar-brand img {
    width: 44px;
    height: 44px;
}

.navbar-brand span {
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #DB3022;
    position: absolute;
    padding-top: 18px;
}


.search-field {
    position:relative;
    margin-left: 110px;
}
.search-input {
    width: 507px;
    height:40px;
    padding-left: 20px;
    background: #fff;
    border: 1px solid #8E8E93;
    border-radius: 23px;
}
.icon-search {
    position:absolute;
    right: 20px;
    width:24px;
    height:24px;
    top: 8px;
}

.navbar-collapse {
    margin-top: 5px;
}


.btn-filter {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #8E8E93;
    border-radius: 8px;
    margin-left: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-cart {
    margin-left: 119px;
}

 .btn {
    padding: 8px 28px;
    /* box-sizing: border-box; */
    border-radius: 24px;
}


.btn-login-signup {
    display: flex;
    margin-left: 21px;
}

.login {
    background-color: #DB3022;
    color: white;
}

.signup {
    margin-left: 20px;
    color: #9B9B9B;
    border: 1px solid #9B9B9B;
}


/* nav end */

.filter-title {
    font-size: 16px;
    color: #222;
    font-weight: bolder;
}

.modal-title {
    font-size: 22px;
    font-weight: bold;
}

.category {
    padding-top: 36px;
}

.choice-color {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 24px;

}

.choice-color-product {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 12px;
}

.btn-black{
    background-color: #222;
}

.btn-white{ 
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-red {
    background-color: #B82222;
}

.btn-grey {
    background-color: #BEA9A9;
}

.btn-brown {
    background-color: #E2BB8D;
}

.btn-blue {
    background-color: #151867;
}

.btn-green {
    background-color: #42D86C;
}



.btn-check:checked+.btn-green,
.btn-check:active+.btn-green,
.btn-green:active,
.btn-green.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-black,
.btn-check:active+.btn-black,
.btn-black:active,
.btn-black.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-white,
.btn-check:active+.btn-white,
.btn-white:active,
.btn-white.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-red,
.btn-check:active+.btn-red,
.btn-red:active,
.btn-red.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-grey,
.btn-check:active+.btn-grey,
.btn-grey:active,
.btn-grey.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-brown,
.btn-check:active+.btn-brown,
.btn-brown:active,
.btn-brown.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-blue,
.btn-check:active+.btn-blue,
.btn-blue:active,
.btn-blue.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}



.modal-header {
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 0px 6px rgba(53, 50, 50, 0.25);
}

.modal-header button {
    margin-left: -12px;
    background:transparent;
    border: none;
}

.modal-footer {
    box-shadow: 0px -8px 10px rgba(217, 217, 217, 0.25);
}

.divider-filter {
    margin-top: 26px;
    border: 4px solid #F4F4F4;
    margin-left:-15px;
    margin-right: -15px;
}

.choice-size {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 0.4px solid #9B9B9B;
    /* box-sizing: border-box; */
    text-align: center;
    padding-top: 8px;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 16px;
}

.btn-check:checked+.choice-size,
.btn-check:active+.choice-size,
.choice-size:active,
.choice-size.active {
    border: unset;
    background: #DB3022;
    color: #fff;
}


.btn-check:checked+.choice-category,
.btn-check:active+.choice-category,
.choice-category:active,
.choice-category.active {
    border: unset;
    background: #DB3022;
    color: #fff;
}
.choice-category{
    width: 100px;
    height: 40px;
    margin-bottom: 12px;
    margin-right: 21px;
    font-size: 14px;
    border: 0.4px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}


.modal-footer .btn {
    font-size: 14px;
    height: 36px;
    width: 160px;
    margin-right: 54px;
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #DB3022;
    border: none;
}

.btn-secondary {
    color: #222;
    background-color: #fff;
    border: 1px solid #222222;
    box-sizing: border-box;
    border-radius: 24px;
}

/* new product */


.next {
    position: absolute;
    top: 100px;
    z-index: 1;
}

.title h6 {
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    color: #222;
    padding-top: 50px;
}

.title p {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
    margin-top: 10px;
}


.category-product {
    display: flex;
    flex-direction: row; 
    padding-top: 30px;
    /* margin: 0 -14px; */
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.category-item section {
    width: 206px;
    height: 220px;
    /* margin: 37px 45px; */
    /* padding: 90px 100px; */
    /* margin: 0  14px; */
    border-radius: 8px;
    /* position: relative; */
}


.category-item .t-shirt {
    background-color: #CC0B04;
    position: relative;
}

.category-item .shorts {
    position: relative;
    background-color: #1C3391;
}

.category-item .jacket {
    position: relative;
    background-color: #F67B02;
}

.category-item .pants {
    position: relative;
    background-color: #E31F51;
}

.category-item .shoes {
    position: relative;
    background-color: #57CD9E;
}

.category-item p {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}

.category-item p, .category-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.rating-product {
    background: url(./src/img/home/Star.svg);
}

.new-product {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.new-item-card {
    margin-top: 25px;
    border-radius: 8px;
    width: 208px;
    height: 278px;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
}
.list-rating-product li {
    list-style: none;
    margin: 0 2px;
}

.list-rating-product {
    display: flex;
    flex-direction: row;
    margin: 0 -2px;
    align-items: baseline;
}

.new-item-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-description {
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.name-product {
    font-size: 16px;
}

.price {
    font-size: 16px;
    color: #DB3022;
}

.seller {
    font-size: 16px;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 8px;
    color: #9B9B9B;
}

.quantity {
    padding-left: 0,5px;
    font-size: 10px;
    color: #9B9B9B;
}

.popular-product {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.popular-item-card {
    margin-top: 25px;
    border-radius: 8px;
    width: 208px;
    height: 278px;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
}

.popular-item-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.breadcrumb a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}

.breadcrumb  .breadcrumb-item{
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}

.image-product-main {
    border-radius: 8px;
}

.images {
    display: flex;
}

.images-item {
    margin-top: 17px;
    margin-right: 8px;
}

.list-rating-product li {
    list-style: none;
    margin: 0 2px;
}

.list-rating-product {
    display: flex;
    flex-direction: row;
    margin: 0 -2px;
    align-items: baseline;
}

.plus, .minus {
    color: black;
    border: none;
    width: 30px;
    height: 30px;
    margin-left: -10px;
    font-size: 20px;
    font-weight: bold;
}

.total {
    margin-left: 20px;
}

.plus {
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
}

.plus:hover {
    background-color: rgb(224, 216, 216);
}

.minus:hover {
    background-color: grey;
}

.title .title-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #222222;
}

/* .total{
    margin-left: 159px;
} */

.title .subtitle {
    font-size: 16px;
    line-height: 16px;
    color: #9B9B9B; 
}

.price-item {
    font-size: 33px;
    line-height: 33px;
    color: #222222;
    font-weight: bold;
}

.price-total .subtitle {
    margin-top: 30px;
    font-size: 16px;
    line-height: 16px;
    color: #9B9B9B; 
    margin-bottom: 10px;
}

.min {
    padding: 17px 11px;
    background: #D5D5D5;
    border-radius: 50%;
}
.add {
    padding: 6px 6px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
}



.sum-item {
    /* margin-left: 110px; */
    align-items: center;
    display: flex;
}

.sum-item p {
    font-size: 16px;
    margin: 0 17px;
    font-weight: bold 
}

.set-size-total {
    display: flex;
    margin-top: 40px;
    margin-bottom: 14px;
}

.color-choice {
    margin-top: 40px;
    margin-bottom: 9px;
}

.btn {
    padding: 8px 31px;
    box-sizing: border-box;
    border-radius: 24px;
}

.btn-secondary-bold {
    padding: 8px 66px;
    color: #222;
    font-size: 14px;
    background-color: transparent;
    margin-right: 20px;
    border: 1.5px solid #222222;
    box-sizing: border-box;
    border-radius: 24px;
    font-weight: bold;
}

.btn-primary-bold {
    font-size: 14px;
    border-radius: 24px;
    box-sizing: border-box;
    padding: 8px 120px;
    color: #fff;
    background-color: #DB3022;
    border: none;
}

.btn-choice {
    margin-top: 47px;
}

.information-product-wrapper {
    margin-top: 38px;;
}

.the-condition {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #DB3022;
}

.the-description {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}


.product-review {
    margin-top: 50px;
}

.num-review {
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    color: #222222;
}


.max-review {
    font-size: 20px;
    line-height: 20px;
    color: #9B9B9B;
    margin-left: -5px;
}

.rating-product-review img {
    list-style: none;
    /* margin: 0 2px; */
    width: 24px;
    height: 24px;
}

.rating-product-review {
    display: flex;
    flex-direction: row;
    margin: 0 -2px;
    align-items: baseline;
}


.product-review-wrapper {
    position: relative;
}

.rating {
    position: absolute;
    left: 160px;
    top: 38px;
}



.rated {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.rated p {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #9B9B9B; 
    width: 12px;
}


.rated .fill {
    width: 120px;
    height: 6px;
    background-color: #DB3022;
    margin: 0 25px;
}

.rated img {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.rated .no-fill {
    width: 120px;
    height: 6px;
    background-color: transparent;
    margin: 0 25px;
}

.limit-line {
    margin: 51px 0;
    border: 1px solid #D4D4D4;
}

.new-product {
    display: flex;
    flex-flow: row wrap;
}


.new-item-card {
    margin-top: 25px;
    margin-right: 10px;
    border-radius: 8px;
    width: 208px;
    height: 278px;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
}

.new-item-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-description {
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.title-review {
    font-size: 28px;
    line-height: 28px;
    color: #222222; 
}

@media (min-width: 320px) and (max-width: 480px) {
    .navbar {
        height: 75px;
    }

    .navbar-brand img {
        width: 35px;
        height: 35px;
    }

    .navbar-brand span {
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #DB3022;
        position: absolute;
        padding-top: 18px;
    }

    .search-field {
        position:relative;
        /* margin-left: 110px; */
    }
    
    .icon-search {
        position:absolute;
        right: 20px;
        width:18px;
        height:18px;
        top: 8px;
    }

    .search-input {
        width: 250px;
        height:35px;
        /* padding-left: 20px; */
        background: #fff;
        border: 1px solid #8E8E93;
        border-radius: 23px;
    }


    .btn-secondary-bold {
        padding: 5px 45px;
        margin-bottom: 16px;
    }
    
    .btn-primary-bold {
        padding: 8px 120px;
    }

    .new-item-card {
        width: 290px;
    }
}
