html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
    font-family: 'MetropolisRegular';
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.container {
    max-width: 1140px;
}


/* nagivation */


.form-select {
    border: none;
    padding: 0;
}

.form-select:focus {
    border-color: #DB3022;
    box-shadow: none
}

a.login:hover {
    color: #fff;
}

a.btn:focus {
    box-shadow: none;
}

a.btn-primary:hover {
    background-color: #DB3022;
}

.btn-check:active+.btn-primary:focus, 
.btn-check:checked+.btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, 
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-check:active+.btn-primary, 
.btn-check:checked+.btn-primary, 
.btn-primary.active, .btn-primary:active, 
.show>.btn-primary.dropdown-toggle {
    background-color: #DB3022;
}

.btn-check:active+.btn-primary, 
.btn-check:checked+.btn-primary, 
.btn-primary.active, .btn-primary:active, 
.show>.btn-primary.dropdown-toggle {
    border-color: none;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    background-color: #DB3022;
}
.btn-primary:hover {
    background-color: #DB3022;
    border-color: none;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}


.navbar-brand {
    color: #DB3022;
    text-decoration: none;
  }

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper > p {
    padding-top: 10px;
    font-weight: bold;
    font-size: 28px;
    color: #DB3022;
}


.search {
    position: relative;
}

.nav-items .search .form-control {
    position: relative;
}

.search {
    margin-left: 41px;
}

.search input{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    /* padding-right: 293px; */
    padding-right: 18rem;
    /* min-width: 507px; */
    width: 100%;
    border-radius: 25px;
}

.search .btn-search {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 4%;
    background-color: transparent;
    border: none;
}

.btn-filter {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #8E8E93;
    border-radius: 8px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn-cart {
    width: 40px;
    height: 40px;
    margin-left: 119px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .btn {
    width: 100px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 24px;
}

.btn-login-signup {
    display: flex;
    margin-left: 21px;
}

.login {
    background-color: #DB3022;
    color: white;
}

.signup {
    margin-left: 20px;
    color: #9B9B9B;
    border: 1px solid #9B9B9B;
}
 


/* nav end */

.filter-title {
    font-size: 16px;
    color: #222;
    font-weight: bolder;
}

.modal-title {
    font-size: 22px;
    font-weight: bold;
}

.category {
    padding-top: 36px;
}

.choice-color {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 24px;

}

.choice-color-product {
    padding: 18px;
    border-radius: 50%;
    margin-right: 12px;
}

.btn-black{
    background-color: #222;
}

.btn-white{ 
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-red {
    background-color: #B82222;
}

.btn-grey {
    background-color: #BEA9A9;
}

.btn-brown {
    background-color: #E2BB8D;
}

.btn-blue {
    background-color: #151867;
}

.btn-green {
    background-color: #42D86C;
}



.btn-check:checked+.btn-green,
.btn-check:active+.btn-green,
.btn-green:active,
.btn-green.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-black,
.btn-check:active+.btn-black,
.btn-black:active,
.btn-black.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-white,
.btn-check:active+.btn-white,
.btn-white:active,
.btn-white.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-red,
.btn-check:active+.btn-red,
.btn-red:active,
.btn-red.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-grey,
.btn-check:active+.btn-grey,
.btn-grey:active,
.btn-grey.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-brown,
.btn-check:active+.btn-brown,
.btn-brown:active,
.btn-brown.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-blue,
.btn-check:active+.btn-blue,
.btn-blue:active,
.btn-blue.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}



.modal-header {
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 0px 6px rgba(53, 50, 50, 0.25);
}

.modal-header button {
    margin-left: -12px;
    background:transparent;
    border: none;
}

.modal-footer {
    box-shadow: 0px -8px 10px rgba(217, 217, 217, 0.25);
}

.divider-filter {
    margin-top: 26px;
    border: 4px solid #F4F4F4;
    margin-left:-15px;
    margin-right: -15px;
}

.choice-size {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 0.4px solid #9B9B9B;
    box-sizing: border-box;
    text-align: center;
    padding-top: 8px;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 16px;
}

.btn-check:checked+.choice-size,
.btn-check:active+.choice-size,
.choice-size:active,
.choice-size.active {
    border: unset;
    background: #DB3022;
    color: #fff;
}


.btn-check:checked+.choice-category,
.btn-check:active+.choice-category,
.choice-category:active,
.choice-category.active {
    border: unset;
    background: #DB3022;
    color: #fff;
}
.choice-category{
    width: 100px;
    height: 40px;
    margin-bottom: 12px;
    margin-right: 21px;
    font-size: 14px;
    border: 0.4px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}


.modal-footer .btn {
    font-size: 14px;
    height: 36px;
    width: 160px;
    margin-right: 54px;
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #DB3022;
    border: none;
}

.btn-secondary {
    color: #222;
    background-color: #fff;
    border: 1px solid #222222;
    box-sizing: border-box;
    border-radius: 24px;
}




.breadcrumb a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}

.breadcrumb  .breadcrumb-item{
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}

.image-product-main {
    border-radius: 8px;
}

.images {
    display: flex;
}

.images-item {
    margin-top: 17px;
    margin-right: 8px;
}

.list-rating-product li {
    list-style: none;
    margin: 0 2px;
}

.list-rating-product {
    display: flex;
    flex-direction: row;
    margin: 0 -2px;
    align-items: baseline;
}

.total {
    margin-left: 20px;
}

.title .title-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #222222;
}

/* .total{
    margin-left: 159px;
} */

.title .subtitle {
    font-size: 16px;
    line-height: 16px;
    color: #9B9B9B; 
}

.price-item {
    font-size: 33px;
    line-height: 33px;
    color: #222222;
    font-weight: bold;
}

.price-total .subtitle {
    margin-top: 30px;
    font-size: 16px;
    line-height: 16px;
    color: #9B9B9B; 
    margin-bottom: 10px;
}

.min {
    padding: 17px 11px;
    background: #D5D5D5;
    border-radius: 50%;
}
.add {
    padding: 6px 6px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
}



.sum-item {
    /* margin-left: 110px; */
    align-items: center;
    display: flex;
}

.sum-item p {
    font-size: 16px;
    margin: 0 17px;
    font-weight: bold 
}

.set-size-total {
    display: flex;
    margin-top: 40px;
    margin-bottom: 14px;
}

.color-choice {
    margin-top: 40px;
    margin-bottom: 9px;
}

.btn-bold {
    padding: 8px 31px;
    box-sizing: border-box;
    border-radius: 24px;
}

.btn-secondary-bold {
    padding: 8px 66px;
    color: #222;
    font-size: 14px;
    background-color: transparent;
    margin-right: 20px;
    border: 1.5px solid #222222;
    box-sizing: border-box;
    border-radius: 24px;
    font-weight: bold;
}

.btn-primary-bold {
    font-size: 14px;
    border-radius: 24px;
    box-sizing: border-box;
    padding: 8px 120px;
    color: #fff;
    background-color: #DB3022;
    border: none;
}

.btn-choice {
    margin-top: 47px;
}

.information-product-wrapper {
    margin-top: 38px;;
}

.the-condition {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #DB3022;
}

.the-description {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}


/* .product-review {
    margin-top: 50px;
} */

.col-2 {
    /* width: fit-content; */
    background-color: royalblue;
}

.col-3 {
    background-color: saddlebrown;
}

.num-review {
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    color: #222222;
}


.max-review {
    font-size: 20px;
    line-height: 20px;
    color: #9B9B9B;
    margin-left: -5px;
}

.rating-product-review img {
    list-style: none;
    /* margin: 0 2px; */
    width: 24px;
    height: 24px;
}

.rating-product-review {
    display: flex;
    flex-direction: row;
    margin: 0 -2px;
    align-items: baseline;
}






/* .rating {
    position: absolute;
    left: 160px;
    top: 38px;
} */



.rated {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.rated p {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #9B9B9B; 
    width: 12px;
}


.rated .fill {
    width: 120px;
    height: 6px;
    background-color: #DB3022;
    margin: 0 25px;
}

.rated img {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.rated .no-fill {
    width: 120px;
    height: 6px;
    background-color: transparent;
    margin: 0 25px;
}

.limit-line {
    margin: 51px 0;
    border: 1px solid #D4D4D4;
}


.container .product-card{
    display: flex;
    flex-wrap: wrap;
    gap: 1.7%;
}

 .heading {
    font-size: 34px;
    font-weight: bold;
    line-height: 34px;
    color: #222222;
    margin-top: 50px;
  }

 .subheading {
    font-size: 12px;
    line-height: 12px;
    margin: 4px 0 30px 0;
    color: #9B9B9B;
  }

.card {
    max-width: 208px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
}

  .card .card-body {
      padding: 10px 12px 21px 12px;
  }

  .card .card-body .card-text {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  .card .card-body .card-price {
    font-size: 16px;
    line-height: 16px;
    color: #DB3022;
    margin: 6px 0;
  }

  .card .card-body .card-seller {
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
    margin-bottom: 11px;
  }
@media (min-width: 320px) and (max-width: 480px) {


    /* navbar start */
    .midlle-nav {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }

    .search, .btn-filter, .btn-cart, .btn-login-signup {
        margin: 0;
    }


    .adress {
        width: 100%;
    }

   ul .nav-item .search .form-control {
       /* width: 100%; */
       /* width: 2rem; */
       padding-right: 10rem;
       /* max-width: 250px; */
       /* padding-right: 0; */
       /* width: 12px; */
   }
   

   
div .container {
    display: flex;
    flex-direction: column;
}
 
    .btn-filter {
        margin-left: 1rem;
    }

    .navbar-nav .btn-login-signup {
        margin-top: 5%;   
    }

    .btn-login-signup a {
        /* width: 40%; */
        width: 100%;
    }

    .banner-carousel .banner {
        margin: 0 0;
    }
    

    .card {
        width: 165px;
    }

    .container .product-card{
        gap: 5%;
    }

    .modal-footer {
        display: flex;
        flex-wrap: nowrap;
    }
    .modal-footer .btn {
        margin-right:2rem;
    }



    

    .btn-secondary-bold {
        /* width: 5%; */
        margin-left: 5px;
        margin-right: 10px;
        padding: 5px 65px;
        margin-bottom: 16px;
    }
    
    .btn-primary-bold {
        width: 100%;
        /* padding: 8px 80px; */
    }




    .images-item {
        margin-top: 17px;
        margin-right: 16px;
    }

}




    
