html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
    font-family: 'MetropolisRegular';
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 1140px;
}


.form-select {
    border: none;
    padding: 0;
}

.form-select:focus {
    border-color: #DB3022;
    box-shadow: none;
}

a.btn:focus {
    box-shadow: none;
}

a.btn-primary:hover {
    background-color: #DB3022;
}

.btn-check:active+.btn-primary:focus, 
.btn-check:checked+.btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, 
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-check:active+.btn-primary, 
.btn-check:checked+.btn-primary, 
.btn-primary.active, .btn-primary:active, 
.show>.btn-primary.dropdown-toggle {
    background-color: #DB3022;
}

.btn-check:active+.btn-primary, 
.btn-check:checked+.btn-primary, 
.btn-primary.active, .btn-primary:active, 
.show>.btn-primary.dropdown-toggle {
    border-color: none;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    background-color: #DB3022;
}
.btn-primary:hover {
    background-color: #DB3022;
    border-color: none;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}


.navbar-brand {
    color: #DB3022;
    text-decoration: none;
  }

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper > p {
    padding-top: 10px;
    font-weight: bold;
    font-size: 28px;
    color: #DB3022;
}


.search {
    position: relative;
}

.nav-items .search .form-control {
    position: relative;
}

.search {
    margin-left: 41px;
}

.search input{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    /* padding-right: 293px; */
    padding-right: 18rem;
    /* min-width: 507px; */
    width: 100%;
    border-radius: 25px;
}

.search .btn-search {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 4%;
    background-color: transparent;
    border: none;
}

.btn-filter {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #8E8E93;
    border-radius: 8px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn-cart {
    width: 40px;
    height: 40px;
    margin-left: 119px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 
/* nav end */


/* modal filter  */

.filter-title {
    font-size: 16px;
    color: #222;
    font-weight: bolder;
}

.modal-title {
    font-size: 22px;
    font-weight: bold;
}


.category {
    padding-top: 36px;
}

.choice-color {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 24px;

}

.btn-black{
    background-color: #222;
}

.btn-white{ 
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-red {
    background-color: #B82222;
}

.btn-grey {
    background-color: #BEA9A9;
}

.btn-brown {
    background-color: #E2BB8D;
}

.btn-blue {
    background-color: #151867;
}


.btn-check:checked+.btn-black,
.btn-check:active+.btn-black,
.btn-black:active,
.btn-black.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-white,
.btn-check:active+.btn-white,
.btn-white:active,
.btn-white.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-red,
.btn-check:active+.btn-red,
.btn-red:active,
.btn-red.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-grey,
.btn-check:active+.btn-grey,
.btn-grey:active,
.btn-grey.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-brown,
.btn-check:active+.btn-brown,
.btn-brown:active,
.btn-brown.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-blue,
.btn-check:active+.btn-blue,
.btn-blue:active,
.btn-blue.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.modal-header {
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 0px 6px rgba(53, 50, 50, 0.25);
}

.modal-header button {
    margin-left: -12px;
    background:transparent;
    border: none;
}

.modal-footer {
    box-shadow: 0px -8px 10px rgba(217, 217, 217, 0.25);
}

.divider-filter {
    margin-top: 26px;
    border: 4px solid #F4F4F4;
    margin-left:-15px;
    margin-right: -15px;
}

.choice-size {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 0.4px solid #9B9B9B;
    box-sizing: border-box;
    text-align: center;
    padding-top: 8px;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 16px;
}

.btn-check:checked+.choice-size,
.btn-check:active+.choice-size,
.choice-size:active,
.choice-size.active {
    border: unset;
    background: #DB3022;
    color: #fff;
}


.btn-check:checked+.choice-category,
.btn-check:active+.choice-category,
.choice-category:active,
.choice-category.active {
    border: unset;
    background: #DB3022;
    color: #fff;
}

.choice-category {
    width: 100px;
    height: 40px;
    margin-bottom: 12px;
    margin-right: 21px;
    font-size: 14px;
    border: 0.4px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}


.modal-footer .btn {
    font-size: 14px;
    height: 36px;
    /* width: 160px; */
    margin-right: 54px;
    font-weight: bold;
}

/* .btn-primary {
    color: #fff;
    background-color: #DB3022;
    border: none;
}

.btn-secondary {
    color: #222;
    background-color: #fff;
    border: 1px solid #222222;
    box-sizing: border-box;
    border-radius: 24px;
} */

/* modal filter end*/


.header-right {
    margin-left: 42px;
}

.btn-mail {
    margin-left: 42px;
}

.btn-profile {
    margin-left: 42px;
}


.btn-primary {
    color: #fff;
    background-color: #DB3022;
    border: none;
}

.btn-secondary {
    color: #222;
    background-color: #fff;
    border: 1px solid #222222;
    box-sizing: border-box;
    border-radius: 24px;
}

/* profile */

.profile {
    display: flex;
}

.list-profile {
    padding-top: 50px;
    width: 25%;
    background-color:#fff;
    
    margin-left: 100px;
}

.data-profiles {
    padding-top: 50px;
    width: 75%;
    background: #F5F5F5;
}


.nav-tabs {
    flex-flow: column;
}




.list-profile .data-profile .nav-tabs .nav-item .nav-link {
    display: flex;
    align-items: center;
    border: unset;
    background-color: #fff;
    padding: .5rem 0;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}

.list-profile .data-profile .nav-tabs .nav-item a.active {
    color: #222;
}

.name {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

.the-profile {
    display: flex;
    margin-bottom: 70px;
}

.the-profile .item-profile {
    margin-left: 12px;
}

.edit-profile {
    display: flex;
    margin-top: 4px;
    align-items: center;
}

.edit-profile img {
    height: 16px;
    width: 16px;
}

.edit-profile p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
    margin-left: 6px;

}




.profile .list-profile .nav-tabs .nav-item {
    width: 100%;
}


.data-items img {
    padding: 8px;
    border-radius: 50%;
    margin-right: 14px;
}

.data-items .icon-user {
    background-color: #456BF3;
}

.data-items p {
    font-size: 14px;
    line-height: 24px;
    color: #222222;
    
}

.data-items .icon-maps {
    background-color: #F36F45;
}

.data-items .icon-order {
    background-color: #F3456F;
}


.descriptions {
    margin-left: 45px;
    margin-right: 150px;
    margin-bottom: 114px;
    /* max-width: 850px; */
    width: 85%;
    background-color: #fff;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 30px ;
    position: relative;
}

.descriptions hr {
    margin-top: 16px;
    margin-bottom: 46px;
    margin-right: -8px;
    margin-left: -2px;
}

.descriptions-title h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    padding-bottom: 6px;
}

.descriptions-data {
    display: flex;
    flex-direction: row-reverse;
}

.informations {
    /* background-color: crimson; */
    margin-right: 64px;
    border-right: 1px solid #D4D4D4;
    /* height: 166px; */
    padding-right: 64px;
}

.descriptions-title p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #9B9B9B;
}

.descriptions-item {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    /* justify-content: flex-end; */
}

.descriptions-item input {
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
    border-radius: 4px;
    height: 48px;
    width: 348px;
    margin-left: 40px;
}

.descriptions-item .pick-gender {
    width: 18px;
    height: 18px;
    border: 1px solid #9B9B9B;
    margin-left: 40px;
    margin-right: 10px;
}

.descriptions-item label {
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
    margin-right: 6px;
}

.descriptions-item p {
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #9B9B9B;  
    display: inline-block;
    width: 105px;   
}

/* profile end */

/*  */

.custom-select select {
    background-color: #FFFFFF;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 12px 10px 12px;
    max-width: 100px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #9B9B9B; 
    margin-left: 10px;
}

.date-of-birth {
    display: flex;
    margin-left: 30px;
}


.btn-change-avatar {
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 8px 26px;
    border-radius: 24px;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
    background-color: #fff;
}

.change-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-avatar img {
    margin-bottom: 19px;
}



/* navigaton  end*/

/* mybag */

.my-bag-select {
    margin-top: 50px;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    color: #222222;
}

.checklist-all-item {
    margin-top: 30px;
    padding: 22px;
    align-items: center;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    font-size: 16px;
    position: relative;
}

@media (min-width: 380px) and (max-width: 480px) {

    /* navbar start */
    .midlle-nav {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }


    .search, .btn-filter, .btn-cart, .btn-profile, .btn-mail, .btn-notification .header-right{
        margin: 0;
    }



   ul .nav-item .search .form-control {
       padding-right: 10rem;
   }
   
    .btn-filter {
        margin-left: 1rem;
    }

    .navbar-nav .header-right {
        margin-top: 5%;   
    }
    .header-right {
        display: flex;
        padding-top: 10px;
        justify-content: center;
        margin: 0;
        gap: 25px;
    }

    .header-right a {
        width: 10%;
    }

    .modal-footer {
        display: flex;
        flex-wrap: nowrap;
    }
    .modal-footer .btn {
        margin-right:2rem;
    }    

    .btn-primary {
        width: 100%;
    }

    .header-right {
        margin:0;
    }
    
    .btn-mail {
        margin: 0;
    }
    
    .btn-profile {
        margin: 0;
    }

    main .profile {
        display: flex;
        flex-direction: column;
    }

    .list-profile {
        width: 100%;
        background-color: #fff;
    }

     .data-profile {
        width: 100%;
        flex-flow: column;
    }

    
    .the-profile {
        /* display: flex; */
        flex-flow: column;
        justify-content: center;
        margin: 0;
        align-items: center;
    }


    .list-profile .data-profiles .data-items {
        flex-flow: column;
        margin: 0 auto;
    }
    
    .data-profile {
        width: 100%;
        background-color: #F5F5F5;
        margin: 0 auto;
    }
    
    .descriptions-item {
        flex-flow: row;
    }


    .descriptions {
        width: 100%;
        flex-flow: column-reverse;
    }

}
