html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
    font-family: 'MetropolisRegular';
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
}

a.btn:focus {
    box-shadow: none;
}

a.btn-primary:hover {
    background-color: #DB3022;
}

.form-select {
    border: none;
    padding: 0;
}

.form-select:focus {
    border-color: #DB3022;
    box-shadow: none;
}

.container {
    max-width: 1140px;
}

.navbar-brand {
    color: #DB3022;
    text-decoration: none;
  }

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper > p {
    padding-top: 10px;
    font-weight: bold;
    font-size: 28px;
    color: #DB3022;
}


.search {
    position: relative;
}

.nav-items .search .form-control {
    position: relative;
}

.search {
    margin-left: 41px;
}

.search input{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    /* padding-right: 293px; */
    padding-right: 18rem;
    /* min-width: 507px; */
    width: 100%;
    border-radius: 25px;
}

.search .btn-search {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 4%;
    background-color: transparent;
    border: none;
}

.btn-filter {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #8E8E93;
    border-radius: 8px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn-cart {
    width: 40px;
    height: 40px;
    margin-left: 119px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .btn {
    width: 100px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 24px;
}

.btn-login-signup {
    display: flex;
    margin-left: 21px;
}

.login {
    background-color: #DB3022;
    color: white;
}

.signup {
    margin-left: 20px;
    color: #9B9B9B;
    border: 1px solid #9B9B9B;
}
 
/* nav end */


.breadcrumb a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}

.breadcrumb  .breadcrumb-item{
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}

/* modal filter  */

.filter-title {
    font-size: 16px;
    color: #222;
    font-weight: bolder;
}

.modal-title {
    font-size: 22px;
    font-weight: bold;
}


.category {
    padding-top: 36px;
}

.choice-color {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 24px;

}

.btn-black{
    background-color: #222;
}

.btn-white{ 
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-red {
    background-color: #B82222;
}

.btn-grey {
    background-color: #BEA9A9;
}

.btn-brown {
    background-color: #E2BB8D;
}

.btn-blue {
    background-color: #151867;
}


.btn-check:checked+.btn-black,
.btn-check:active+.btn-black,
.btn-black:active,
.btn-black.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-white,
.btn-check:active+.btn-white,
.btn-white:active,
.btn-white.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-red,
.btn-check:active+.btn-red,
.btn-red:active,
.btn-red.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-grey,
.btn-check:active+.btn-grey,
.btn-grey:active,
.btn-grey.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-brown,
.btn-check:active+.btn-brown,
.btn-brown:active,
.btn-brown.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.btn-check:checked+.btn-blue,
.btn-check:active+.btn-blue,
.btn-blue:active,
.btn-blue.active {
    border: 2px solid #fff;
    box-shadow:  0 0 0 1px #db3022;
}

.modal-header {
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 0px 6px rgba(53, 50, 50, 0.25);
}

.modal-header button {
    margin-left: -12px;
    background:transparent;
    border: none;
}

.modal-footer {
    box-shadow: 0px -8px 10px rgba(217, 217, 217, 0.25);
}

.divider-filter {
    margin-top: 26px;
    border: 4px solid #F4F4F4;
    margin-left:-15px;
    margin-right: -15px;
}

.choice-size {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 0.4px solid #9B9B9B;
    box-sizing: border-box;
    text-align: center;
    padding-top: 8px;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 16px;
}

.btn-check:checked+.choice-size,
.btn-check:active+.choice-size,
.choice-size:active,
.choice-size.active {
    border: unset;
    background: #DB3022;
    color: #fff;
}


.btn-check:checked+.choice-category,
.btn-check:active+.choice-category,
.choice-category:active,
.choice-category.active {
    border: unset;
    background: #DB3022;
    color: #fff;
}

.choice-category {
    width: 100px;
    height: 40px;
    margin-bottom: 12px;
    margin-right: 21px;
    font-size: 14px;
    border: 0.4px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}


.modal-footer .btn {
    font-size: 14px;
    height: 36px;
    width: 160px;
    margin-right: 54px;
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #DB3022;
    border: none;
}

.btn-secondary {
    color: #222;
    background-color: #fff;
    border: 1px solid #222222;
    box-sizing: border-box;
    border-radius: 24px;
}

/* modal filter end*/






/* category slider */


/* category wrapper end */

/* new popular product */

.container .product-card{
    display: flex;
    flex-wrap: wrap;
    gap: 1.7%;
}



 .heading {
    font-size: 34px;
    font-weight: bold;
    line-height: 34px;
    color: #222222;
    margin-top: 50px;
  }

 .subheading {
    font-size: 12px;
    line-height: 12px;
    margin: 4px 0 30px 0;
    color: #9B9B9B;
  }

.card {
    max-width: 208px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
}

  .card .card-body {
      padding: 10px 12px 21px 12px;
  }

  .card .card-body .card-text {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  .card .card-body .card-price {
    font-size: 16px;
    line-height: 16px;
    color: #DB3022;
    margin: 6px 0;
  }

  .card .card-body .card-seller {
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
    margin-bottom: 11px;
  }

  .card .card-body .rating-list {
      float: left;
      display: flex;
  }

  .card .card-body .sold {
    font-size: 10px;
    color: #9B9B9B;
  }

  /* new popular product end */





/* .right, .left, .next {
    display: none;
} */

.choice-category, .choice-color, .choice-size {
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 6px;

}


.banner-carousel {
    margin-top: 50px;
}

.banner-carousel .banner {
    margin: 0 25px;
    /* margin-right: 25px; */
    position: relative;
}


.banner-carousel .banner p {
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    line-height: 38px;  
    color: #FFFFFF;
}

.banner-carousel .banner img {
    border-radius: 8px;
}

.category-item p, .category-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.category-carousel .category-item div {
    width: 206px;
    height: 220px;
    position: relative;
    margin-right: 25px;
    border-radius: 8px;
}


.category-carousel .category-item .t-shirt {
    background: #CC0B04;
}

.category-carousel .category-item .shorts {
    background: #1C3391;

}

.category-carousel .category-item .jacket {
    background: #F67B02;

}

.category-carousel .category-item .pants {
    background: #E31F51;

}

.category-carousel .category-item .shoes {
    background: #57CD9E;

}


.category-carousel .category-item p {
    position: absolute;
    /* top: 50%; */
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    color: #FFFFFF;
}


  .banner-carousel button.slick-next.slick-arrow {
    top: 40%;
    right: 8%;
  }
  
  .banner-carousel button.slick-prev.slick-arrow {
    left: 4%;
    top: 40%;
  }
  
  /* Category */

  
  button.slick-prev.slick-arrow,
  button.slick-next.slick-arrow {
    z-index: 1000;
  }
  
  .category-carousel button.slick-next.slick-arrow {
      top: 40%;
    right: 2%;
  }
  
  .category-carousel button.slick-prev.slick-arrow {
    display: none !important;
  }
  
  .slick-next:before, .slick-prev:before {
    font-size: 80px;
    color: #fff
  }
  .slick-dots {
    width: unset;
  }


  @media (min-width: 320px) and (max-width: 480px) {

    /* navbar start */
    .midlle-nav {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }

    .search, .btn-filter, .btn-cart, .btn-login-signup {
        margin: 0;
    }

    .header-right {
        display: flex;
        padding-top: 10px;
        justify-content: center;
        margin: 0;
        gap: 25px;
    }

    .adress {
        width: 100%;
    }

   ul .nav-item .search .form-control {
       /* width: 100%; */
       /* width: 2rem; */
       padding-right: 10rem;
       /* max-width: 250px; */
       /* padding-right: 0; */
       /* width: 12px; */
   }
   


    .btn-filter {
        margin-left: 1rem;
    }

    .navbar-nav .btn-login-signup {
        margin-top: 5%;   
    }

    .btn-login-signup a {
        /* width: 40%; */
        width: 100%;
    }

    .banner-carousel .banner {
        margin: 0 0;
    }
    

    .card {
        width: 165px;
    }

    .container .product-card{
        gap: 5%;
    }

    .modal-footer {
        display: flex;
        flex-wrap: nowrap;
    }
    .modal-footer .btn {
        margin-right:2rem;
    }

}
